# Requisitos mínimos para reproducir el notebook/proyecto
pandas
numpy
scikit-learn
xgboost
lightgbm
matplotlib
tensorflow
kagglehub

# (Opcionales)
# shap            # si necesitás interpretabilidad adicional
# jupyter         # si querés ejecutar el .ipynb localmente
